Django==3.0.6
djangorestframework==3.12.4
Markdown==3.3.4
numpy==1.19.5
paramiko==2.7.2
protobuf==3.14.0
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.8.1
pytz==2021.1
scenariogeneration==0.3.3
scipy==1.6.2
six==1.15.0
sqlparse==0.4.1
TBB==0.1
toml==0.10.2
wrapt==1.12.1
